# OS
Thumbs.db
Desktop.ini

# Editors/IDE
.vscode/
.idea/
*.code-workspace

# Git merge junk
*.orig
*.rej

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Node / JS
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.env
.venv/

# .NET / misc build
bin/
obj/
*.user
*.suo
*.pdb
*.cache/

# Tests/coverage
.coverage
coverage/

# Custom
tools/UAssetAPI_source/
tools/UAssetAPI_source/.git